.wrapper {
    /* position: relative; */
    /* display: block; */
    position: relative;
    height: 100vh;
}

.confirm-section {
    /* margin: 10% 56.25% 54.375%; */
    /* margin: 96px 540px 522px; */
    width: 360px;
    height: 342px;
    position: absolute;
    top: 10%;
    left: 37.5%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.header h2,
.footer {
    justify-content: center;
}

.content {
    width: 100%;
}

.footer {
    display: flex;
    /* justify-content: space-between; */
    font-size: 14px;
}

.otp-field {
    display: flex;
    align-self: stretch;
    padding: 10px 14px;
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border: 1px solid #D0D5DD;
    width: 100%;
}

.confirm-section .confirm-btn {
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    left: 0%;
    right: 0%;
    width: 100%;
}

.footer .otp-question {
    margin-right: 8px;
}

#confirm-otp input {}